html,
body {
  height: 100%;
  text-align: center;
}
button {
  transition: 0.5s;
  margin-inline-end: auto;
  margin-left: 10px;
  filter: drop-shadow(5px 5px 2px black);
}
button:hover {
  transform: scale(1.2);
  border-radius: 10px;
}
.biru-muda {
  background-color: teal;
}
input {
  transition: 0.2s;
  margin-top: 2px;
}
input:hover {
  transform: scale(1.2);
}
.kotak {
  width: 25px;
  height: 25px;
  margin: 10px auto;
  border-radius: 5px;
}
.merah {
  background-color: red;
  filter: drop-shadow(5px 5px 2px black);
}
.hijau {
  background-color: lime;
  filter: drop-shadow(5px 5px 2px black);
}
.biru {
  color: aliceblue;
  background-color: blue;
  filter: drop-shadow(5px 5px 2px black);
}
h1 {
  filter: drop-shadow(5px 5px 2px white);
}

